.EmployeesBirthday {
  align-content: flex-start;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  h2 {
    text-align: center;
  }
  .wrapper {
    border-left: 1px solid black;
    height: 100%;
    max-width: 330px;
    padding-left: 20px;
  }
  .presentation {
    border-top: 1px solid black;
  }
  ul {
    list-style-type: disc;
  }
}
