body {
  color: #333;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
main {
  display: flex;
  justify-content: space-between;
  min-width: 600px;
}
.container {
  box-shadow: inset;
}
a {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  h1 {
    text-align: center;
  }
}
