.Employees {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: 100%;
  h2 {
    text-align: center;
    width: 100%;
  }
  .scroller {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: scroll;
  }
  ul {
    width: 100%;
  }
}
